body
{
	background-color: #000000;
	color: lightgray;
	font-size: 28px;
	font-family: 'Inconsolata';
	font-weight: 700;
}

#pojemnik
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#plansza
{
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
}

#szubienica
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#alfabet
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

.litera
{
	width: 30px;
	height: 30px;
	text-align:center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.litera:hover
{
	background-color: #222222;
	color: white;
	border: 3px solid white;
}

.reset
{
	color:green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color:white;
}

#wskazowka
{
	width: 900px;
	text-align: center;
	color: #FFD700;
	font-size: 24px;
	margin-bottom: 20px;
	min-height: 40px;
}

#przycisk-wskazowka
{
	width: 200px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #003366;
	color: #FFD700;
	border: 3px solid #FFD700;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Inconsolata';
	font-weight: 700;
	margin-bottom: 20px;
}

#przycisk-wskazowka:hover:not(:disabled)
{
	background-color: #004488;
	color: white;
	border: 3px solid white;
}

#przycisk-wskazowka:disabled
{
	cursor: not-allowed;
}
